{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h2>Mahesh written {{blogs.count}} blog{{blogs.count|pluralize}}</h2>
</div>
<div class="card-group">
{% for blog in blogs %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'blog:details' blog.id %}"><h5 class="card-title">{{blog.title}}</h5></a>
            <p class="card-text">{{blog.description|striptags|truncatechars:100}}</p>
            <p class="card-text"><small class="text-muted">{{blog.date|date:'d M Y'}}</small></p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}